@font-face {
    font-family: Milky;
    src: url("MilkyVintage-Regular.ttf");
}

html {
    cursor: url("icons8-select-26.png"), auto;
}

body {
    transition: ease-in-out 0.5s;
    scroll-behavior: smooth;
    font-family: "Milky", serif;
    overflow-x: hidden;
    background-image: linear-gradient(to left, #cfcacc, #e8e6e6, #f7f5f6);
}

.Title {
    display: flex;
    justify-content: center;
    user-select: none;
    padding: 2px;
    margin-top: 10px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: solid black 2.4px;
    margin: 1rem;
    box-shadow: 10px 13px 28px 0 rgba(42, 55, 63, 0.3);
    z-index: auto;
    min-width: 100px;
    min-height: 100px
}
.container-block1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;

}

.nameselector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5%;
    user-select: none;
    margin-right: 5%;
    justify-content: center;
    gap: 40px;
    margin-bottom: 5px;
}

input {
    background-color: rgba(0, 0, 0, 0.2);
    border: black solid 1px;
    border-radius: 5px;
    transition: background-color ease-in 0.3s;
    font-family: "Milky", serif;
    position: relative;
    cursor: url("icons8-select-26.png"), auto;
}

input:hover{
    background-color: white;
}

button {
    width: 100%;
    height: 100%;
    transition: all ease-in 0.3s;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: url("icons8-select-26.png"), auto;
}

button:hover {
    font-weight: bolder;
    font-size: large;
    cursor: url("icons8-select-26.png"), auto;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 5px;
    height: 27px;
}

.winner {
    display: flex;
    justify-content: center;

}
.topbuttons {
    opacity: 0.6;
    border-radius: 15px;
    background-size: 500% 200%;
    background-image: repeating-linear-gradient(to right, #e62e50, #eb4261, #ff5e69, #e30e4a);
    animation: transition alternate 3s infinite;
    color: black;
    font-weight: bold;
    transition: opacity linear 0.5s;

}

.topbuttons:hover{
    font-size: 13.4px;
    opacity: 1;
}



@keyframes transition {
    50% {
        background-position: 0%, 50%;
    }
    100% {
        background-position: 100%, 50%;
    }
}

.resetscore {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    width: 700px;
    height: 35px;
    flex-direction: row;
    gap: 100px;
}


/* Pedro */

.pedro {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: absolute;
    bottom: 50px;
}

.pedrobutton {
    justify-content: left;
    width: 100px;
    height: 20px;
    position: absolute;
    font-size: xx-small;
    border: black solid 1px;
    transition: all ease-in 0.3s;
}

.pedrobutton:hover {
    font-weight: normal;
    font-size: xx-small;
    background-color: red;
    color: white;
    margin: auto;

}

.tenor-gif-embed {
    z-index: 1;
    position: fixed;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.checkbox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 1rem;
    cursor: url("icons8-select-26.png"), auto;
    transform: scale(1.5);
}

#checkcolor {
    width: 23px;
    cursor: url("icons8-select-26.png"), auto;
}

.navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 110px;
    justify-content: left;
    left: -110px;
    transition: ease-in-out 0.5s;
}

a {
    text-decoration: none;
    font-family: "Milky", serif;
    color: black;
    cursor: url("icons8-select-26.png"), auto;
}

ul {
    text-align: center;
    padding: 8px;
    border: black solid 1px;
    border-radius: 20px;
    width: 50%;
}

ul:hover {

    background-size: 500% 200%;
    background-image: repeating-linear-gradient(to right, #e62e50, #eb4261, #ff5e69, #e30e4a);
    animation: transition alternate 3s infinite;

}

/*Dark Mode*/
.dark-mode {
    transition: ease-in-out 0.5s;
    background-image: linear-gradient(to left, #212424, #0a0a0a);
    color: white;
    cursor: url("icons8-select-32.png"), auto;
    button {
        cursor: url("icons8-select-32.png"), auto;
    }
    input {
        url("icons8-select-32.png"), auto
    }
    .winner {
        url("icons8-select-32.png"), auto
    }
    .checkbox {
        url("icons8-select-32.png"), auto
    }
}

.dark-modepedro {
    color: white;
    border: white solid 1px;
    cursor: url("icons8-select-32.png"), auto;
}

.dark-modehtml{
    cursor: url("icons8-select-32.png"), auto;
}

.dark-modefeld {
    cursor: url("icons8-select-32.png"), auto;
    color: white;
    border: white solid 2.4px;
}

.dark-modenav {
    color: white;
    text-align: center;
    padding: 8px;
    border: white solid 1px;
    border-radius: 20px;
    width: 50%;

}

.dark-modenav:hover {
    background-size: 500% 200%;
    background-image: repeating-linear-gradient(to right, #43c7f0, #43abf0, #38a2e8, #38d6e8);
    animation: transition alternate 3s infinite;
}

.openmenu {
    left: 15px;
}

.dark-mode-a {
    color: white;
}

.dark-mode-btn {
    cursor: url("icons8-select-32.png"), auto;
    background-size: 500% 200%;
    background-image: repeating-linear-gradient(to right, #43c7f0, #43abf0, #38a2e8, #38d6e8);
    animation: transition alternate 3s infinite;
    color: white;
}

.dark-mode-input {
    background-color: #e8e6e6;
}
label {
    display: flex;
    align-items: center;
}